.footer {
  padding: 12px 0;
  background: $px-dark;
  
  .nav {
    a {
      color: $px-white;
      font-size: 14px;
      margin-right: 17px;
    }
  }
  p {
    color: $px-white;
    font-size: 14px;
    margin: 0;
    .theme-light & {
      color: $px-dark;
    }
  }
}
